<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vivido.mapper.productMapper">
	
	
	
	<resultMap id="rentalCountMap" type="map">
		<result column="rentedCount" property="rentedCount" javaType="int" />
		<result column="availableCount" property="availableCount" javaType="int" />
		<result column="totalCount" property="totalCount" javaType="int" />
	</resultMap>
	
	
	
	<resultMap id="productResultMap" type="com.vivido.domain.ProductVO">
		<result property="productId" column="product_id" />
		<result property="thumbnailUrl" column="thumbnail_url" />
	    <!-- 다른 필드들도 매핑 -->
	</resultMap>


	<!-- 전체 상품 조회 -->
<select id="getAllProducts" resultType="com.vivido.domain.ProductVO">
    SELECT
        p.*, pi.thumbnail_url 
    FROM products p 
    LEFT JOIN product_image pi ON p.product_id = pi.product_id 
    ORDER BY p.create_date DESC 
</select>

	<!-- 상품 삭제 -->
	<delete id="deleteProductById" parameterType="String">
		DELETE FROM products WHERE product_id = #{productId};
	</delete>
	
		<!-- 여러 상품 삭제 -->
<delete id="deleteProductsByIds">
    DELETE FROM products
    WHERE product_id IN
    <foreach item="item" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
</delete>




	<!-- 상품 정보 조회 -->
	<select id="getProductById" parameterType="String"
		resultType="com.vivido.domain.ProductVO">
		SELECT p.*, pi.thumbnail_url
		FROM products p
		LEFT JOIN product_image pi ON p.product_id = pi.product_id
		WHERE p.product_id = #{productId}
	</select>


	<!-- 상품 수정 -->
	<update id="updateProduct" parameterType="com.vivido.domain.ProductVO">
	    UPDATE products 
	    <set>
	        <if test="productCategory != null"> product_category = #{productCategory}, </if>
	        <if test="productCategoryDetails != null"> product_category_details = #{productCategoryDetails}, </if>
	        <if test="productKeyword != null"> product_keyword = #{productKeyword}, </if>
	        <if test="productName != null"> product_name = #{productName}, </if>
	        <if test="productPrice != null"> product_price = #{productPrice}, </if>
	        <if test="startDate != null"> start_date = #{startDate}, </if>
	        <if test="endDate != null"> end_date = #{endDate}, </if>
	        <if test="discountRate != null"> discount_rate = #{discountRate}, </if>
	        <if test="productStock != null"> product_stock = #{productStock}, </if>
	        <if test="productOptionId != null"> product_option_id = #{productOptionId}, </if>
	        <if test="productContent != null"> product_content = #{productContent}, </if>
	        <if test="brand != null"> brand = #{brand}, </if>
	        <if test="manufacturer != null"> manufacturer = #{manufacturer}, </if>
	        <if test="productOrigin != null"> product_origin = #{productOrigin}, </if>
	        <if test="productStatus != null"> product_status = #{productStatus}, </if>
	        <if test="deliveryMethod != null"> delivery_method = #{deliveryMethod}, </if>
	        <if test="deliveryCompany != null"> delivery_company = #{deliveryCompany}, </if>
	        <if test="deliveryPrice != null"> delivery_price = #{deliveryPrice}, </if>
	        <if test="address != null"> address = #{address}, </if>
	        <if test="approvalDate != null"> approval_date = #{approvalDate}, </if>
	        <if test="approvalId != null"> approval_id = #{approvalId}, </if>
	        <if test="comments != null"> comments = #{comments}, </if>
	        <!-- 자동으로 현재 날짜를 설정 -->
	        <if test="updateDate == null"> update_date = CURRENT_DATE, </if>
	    </set>
	    WHERE product_id = #{productId}
	</update>
	
	
<select id="selectProducts" resultType="com.vivido.domain.ProductVO">
    SELECT
        p.*, pi.thumbnail_url 
    FROM products p
    LEFT JOIN product_image pi ON p.product_id = pi.product_id
    LIMIT #{pageSize} OFFSET #{offset};
</select>


	<!-- 상품 총 개수 조회 -->
	<select id="getTotalProductCount" resultType="int">
		SELECT COUNT(*) FROM products
	</select>
	
	<!-- 카테고리별 상품 검색 -->
<select id="searchProducts" resultType="com.vivido.domain.ProductVO">
    SELECT
        p.*, 
        pi.thumbnail_url
    FROM products p
    LEFT JOIN product_image pi ON p.product_id = pi.product_id
    WHERE 1=1
    <if test="productName != null and productName != ''">
        AND p.product_name LIKE CONCAT('%', #{productName}, '%')
    </if>
    <if test="productId != null and productId != ''">
        AND p.product_id = #{productId}
    </if>
    <if test="productKeyword != null and productKeyword != ''">
        AND p.product_keyword LIKE CONCAT('%', #{productKeyword}, '%')
    </if>
    <if test="createDate != null">
        AND p.create_date = #{createDate}
    </if>
</select>

<!-- 카테고리에 맞는 상품 조회 -->
<select id="getSubcategoriesByCategory" resultType="com.vivido.domain.ProductVO">
    SELECT
        p.*, 
        pi.thumbnail_url
    FROM products p
    LEFT JOIN product_image pi ON p.product_id = pi.product_id
    WHERE p.product_category = #{productCategory}
</select>

<!-- 카테고리와 세분류에 맞는 상품 목록 조회 -->
<select id="getProductsByCategoryAndSubcategory" resultType="com.vivido.domain.ProductVO">
    SELECT
        p.*, 
        pi.thumbnail_url
    FROM products p
    LEFT JOIN product_image pi ON p.product_id = pi.product_id
    WHERE p.product_category = #{productCategory}
    AND p.product_category_details = #{productCategoryDetails}
    ORDER BY p.create_date DESC;
</select>
	<!--렌탈 카운트-->
	<select id="getRentalCounts" resultMap="rentalCountMap">
		SELECT
		(SELECT COUNT(*) FROM products WHERE product_status = 1) AS rentedCount,
		(SELECT COUNT(*) FROM products WHERE product_status = 0) AS
		availableCount,
		(SELECT COUNT(*) FROM products) AS totalCount
		FROM DUAL
	</select>

	<!-- 엑셀용 상품 조회 -->
	<select id="getProductsByIds" resultType="com.vivido.domain.ProductVO">
		SELECT product_id, product_seller_id, product_category,
		product_category_details, product_keyword, product_name, product_price,
		start_date, end_date, discount_rate, product_stock, product_option_id,
		product_content, brand, manufacturer, product_origin, product_status,
		delivery_method, delivery_company, delivery_price, address, create_date,
		update_date, approval_date, approval_id, comments FROM products <where>
			<if test="productIds != null and productIds.size() > 0"> AND
		product_id IN <foreach collection="productIds" item="productId" open="("
					close=")" separator=",">
					#{productId}
				</foreach>
			</if>
		</where>
	</select>

	<!-- 상품 등록 -->
	<insert id="insertProduct" parameterType="com.vivido.domain.ProductVO">
		INSERT INTO products (
		product_id, product_category,
		product_category_details,
		product_keyword, product_name, product_price, discount_rate,
		product_stock, product_content, brand,
		manufacturer, product_origin,
		create_date, comments
		) VALUES (
		#{productId}, #{productCategory},
		#{productCategoryDetails},
		#{productKeyword}, #{productName}, #{productPrice}, #{discountRate},
		#{productStock}, #{productContent},
		#{brand}, #{manufacturer}, #{productOrigin}, #{createDate}, #{comments}
		)
	</insert>

	<!-- 이미지 등록 -->
	<insert id="insertProductImage" parameterType="com.vivido.domain.ProductVO">
		INSERT INTO product_image (
		product_id, image_url, thumbnail_url, is_primary, created_at
		) VALUES (
		#{productId}, #{imageUrl}, #{thumbnailUrl}, #{isPrimary}, #{createdAt}
		)
	</insert>
		
	
    
	

</mapper>